include *.py *.h
recursive-include buildconf *.ini
recursive-include core *
recursive-include plugins *
recursive-include proto *
recursive-include lib *
recursive-include apache2 *
recursive-include cherokee *
recursive-include contrib *
recursive-include lighttpd *
recursive-include nginx *
recursive-include valgrind *
recursive-include vassals *
